.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none;
  background-color: white;
  height: fit-content;
}

.up {
  width: 100%;
  height: 20%;
}

.up h1,
.up p {
  color: black;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 10px auto;
}

.grid-container {
  width: fit-content;
  height: fit-content;
  display: grid;
  gap: 40px;
  margin-bottom: 50px;
}

.first,
.second {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 30px;
  row-gap: 50px;
}

.square {
  display: flex;
  width: 320px;
  height: 200px;
  background-color: green;
  align-items: center;
  justify-content: end;
  color: white;
  font-size: large;
  padding-right: 10px;
}
